[Unit]
Description=Astound/RCN Merlin Exporter
Documentation=https://jenever.io
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=on-failure
WorkingDirectory=/opt/merlin_exporter
ExecStart=/opt/merlin_exporter/merlin_exporter

[Install]
WantedBy=multi-user.target